APP_ENV=development
SERVER_ADDRESS=:8080
PORT=8080
CONTEXT_TIMEOUT=2
DB_HOST=postgres
DB_PORT=5432
DB_USER=test
DB_PASS=test
DB_NAME=test
ACCESS_TOKEN_EXPIRY_HOUR=2
REFRESH_TOKEN_EXPIRY_HOUR=168
ACCESS_TOKEN_SECRET=access_token_secret
REFRESH_TOKEN_SECRET=refresh_token_secret
YOUTH_API_KEY=969bb2cf-d530-455a-bc48-2f4b0acabd47
WELFARE_API_KEY=6d1a03a5b7ba6cd2e849ff8fa1c2d781210c5a6f9f802f72dada7369e1b3b8cd
VOLUNTEER_API_KEY=6d1a03a5b7ba6cd2e849ff8fa1c2d781210c5a6f9f802f72dada7369e1b3b8cd
MATERNITY_API_KEY=
KAKAO_MAP_API_KEY=3efaf403527b1d777dc169d8d7adbe34
AI_API_KEY=tap_ai_6Uy-ZksZY8ViL1TneZOG9DnAOeR_lGhG